<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= title %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
 
<div class="container">
  <h2><%= title %></h2>
  <form action='/update' method=post autocomplete="off">
    <div class='row'>
        <input type="hidden" value="<%= book.id %>" name="id">
        <label for="bname" class="control-label col-sm-3" >Book Name:</label>
        <div class="col-sm-9">
            <input class="form-control" type="text" id="bname" name="bname" value="<%= book.name %>" placeholder="Enter book name" required> 
        </div>
        <label for="aname" class="control-label col-sm-3">Author Name:</label>
        <div class="col-sm-9">
            <input class="form-control" type="text" id="aname" name="aname" value="<%= book.author %>" placeholder="Enter author name"required> 
        </div>
        <label for="year" class="control-label col-sm-3">Published Year:</label>
        <div class="col-sm-9">
            <input class="form-control" type="text" id="year" name="year" value="<%= book.year %>" placeholder="Enter year of publishing"required> 
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
 
</body>
</html>